.sidebar_active{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #b8895b;
  z-index: 1;
  transform: translateX(0);
  transition: .3s;
  overflow-y: scroll;
  @media screen and (min-width: 1024px) {
    width: 40%;
  }
  .up{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    img{
      width: 60px;
    }
    li{
      list-style: none;
      font-size: 25px;
      color: white;
      @media screen and (min-width: 1024px) {
        display: none;
      }
    }
  }
  h3{
    padding: 15px;
    color: white;
  }
  .btn_side{
    display: none;
  }
}

.sidebar_none{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #b8895b;
  z-index: 1;
  transform: translateX(-100%);
  transition: .3s;
  @media screen and (min-width: 1024px) {
    width: 40%;
    transform: translateX(0);
    transition: .3s;
  }
  .up{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    img{
      width: 60px;
    }
    li{
      list-style: none;
      font-size: 25px;
      color: white;
      @media screen and (min-width: 1024px) {
        display: none;
      }
    }
  }
  h3{
    padding: 15px;
    color: white;
  }
  .btn_side{
    width: 100%;
    position: absolute;
    right: -100%;
    top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 1024px) {
      display: none;
    }
    @media screen and (min-width: 1024px) {
      right: -10%;
    }
    button{
      width: 90%;
      height: 36px;
      background: #b8895b;
      color: white;
      font-weight: bold;
      border: 0;
      border-radius: 10px;
      font-size: 20px;
    }
  }
}