.basket{
  width: 100%;
  height: auto;
  padding: 0 0 150px 0;
  .nothing{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .amount{
    border-top: 2px dashed black;
    h3{
      text-align: right;
      font-size: 18px;
      span{
        margin-left: 15px;
      }
    }
  }
  .send_order{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    button{
      width: 90%;
      height: 40px;
      background: white;
      border: 0;
      color: red;
      font-size: 18px;
      font-weight: bold;
      border-radius: 10px;
    }
  }
  .detail{
    width: 90%;
    padding: 15px;
    .up{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left{
        p{
          color: white;
        }
      }
      .right{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 74%;
        p{
          color: white;
        }
      }
    }
  }
}