.card{
  width: 300px;
  display: flex;
  align-items: center;
  margin-top: 25px;
  background: white;
  padding: 15px;
  border-radius: 10px;
  @media screen and (min-width: 1024px) {
    width: 400px;
  }
  .left__side{
    margin-right: 15px;
    img{
      width: 100px;
      height: 100px;
      object-fit: cover;
      object-position: center;
      border-radius: 10px;
    }
  }
  .right__side{
    width: 100%;
    .up{
      width: 100%;
      display: flex;
      justify-content: space-between;
      h4{
        font-size: 16px;
      }
      span{
        width: 100%;
        text-align: right;
      }
    }
    .row{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .cooking__time{
        width: 70px;
        background: grey;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px;      
        border-radius: 50px;
        color: white;
        span{
          font-size: 12px;
          margin: 0;
          margin-left: 5px;
        }
      }
    }
    .more{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      button{
        width: 100%;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        background: #b8895b;
        color: white;
        padding: 0 25px;
        border: 0;
        margin-top: 25px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
}