.more{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 100px 0;
  z-index: 100;
  .back{
    position: absolute;
    left: 15px;
    top: 15px;
    button{
      width: 35px;
      height: 35px;
      background: #b8895b;
      border-radius: 5px;
      border: 0;
      color: white;
    }
  }
  .image{
    img{
      width: 250px;
      height: 250px;
      border-radius: 10px;
      object-fit: cover;
      object-position: center;
    }
  }
  .counter{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    input{
      width: 15%;
      text-align: center;
      border: 0;
      outline: 0;
      font-size: 20px;
    }
    button{
      width: 35px;
      height: 35px;
      border-radius: 50px;
      border: 0;
      background: #b8895b;
      color: white;
      font-size: 25px;
      text-align: center;
      font-weight: bolder;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .ingredients{
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
    h5{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0;
      border-bottom: 1px dotted black;
      margin: 0;
      &:nth-child(1){
        border-bottom: 1px solid black;
        padding: 10px 0;
      }
      &.all{
        border: 0;
      }
    }
  }
  .add_to_cart{
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: center;
    z-index: 100;
    button{
      width: 260px;
      height: 52px;
      border-radius: 50px;
      position: fixed;
      bottom: 80px;
      background: #b8895b;
      color: white;
      border: 0;
      box-shadow: 0 0 10px inset #80654abd;
      font-size: 16px;
      font-weight: bold;
      z-index: 100;
    }
  }
}